body{
    margin: 0;
    width: 1280px;
    height: 720px;
    max-height: 100%;
    /* border: solid 2px gray; */
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* START */
#--container-outer{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}
#--container-inner{
    width: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#--inner-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

/*#region AUDIO CLOUD*/
.--cloud-top{
    display: flex;
    border-radius: 1rem;
    align-items: center;
    border: 2px solid #87889D;
}
.--cloud-buttonContainer{
    width: 4.2rem;
    height: 100%;
    border-radius: 0.8rem 0 0 0.8rem;
    background-color: rgb(231, 231, 237);
    display: flex;
    flex-direction: column;
}
.--cloud-button{
    background-image: url(../assets/img/components/button_play_0.png);
}
.--cloud-button-active{
    background-image: url(../assets/img/components/button_stop_0.png) !important;
}
.--cloud-bottomImg{
    background-size: contain;
    background-repeat: no-repeat;
    width: 2rem;
    height: 1.3rem;
    background-image: url(../assets/img/components/tick_rubric.png);
    transform: translate(55%, -10%);
}
.--inner-cloud p
{
    margin: 1rem;
}
/*#endregion AUDIO CLOUD*/

/*#region AUDIO TIMELINE*/
.--inner-timeline{
    display: flex;
    align-items: center;
}
.--timeline-button{
    background-image: url(../assets/img/components/button_play_1.png);
    background-position-x: 65% !important;
}
.--timeline-button-active{
    background-image: url(../assets/img/components/button_stop_1.png) !important;
    background-position-x: center !important;
}
.--timeline-slider-bg{
    width: 100%;
    height: 0.2rem;
    background-color:  #87889D;
}
.--timeline-progressbarcontainer{
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}
.--timeline-progressbar{
    width: 100%;
    height: 0.2rem;
    background-color:  #87889D;
    cursor: pointer;
    border: rgb(230, 56, 143);
}
.--timeline-progressbarcontainer p{
    top: -25%;
    float: right;
    margin: 0;
    font-size: 0.9rem;
    position: absolute;
    align-self: flex-end;
}
.--timeline-slider-bg-slider
{
    position: absolute;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #87889D;
    border-radius: 100%;
    left: -0.5%;
}
.--timeline-progressbar::-moz-progress-bar
{
    background-color: rgb(230, 56, 143);
}
.--timeline-progressbar::-webkit-progress-value
{
    background-color: rgb(230, 56, 143);
}
/* AUDIO BTNS */
.--audio-button-active{
    border-color: rgb(230, 56, 143) !important;
}
.--audio-btn-overlay{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 20%;
}
.--audio-btn{
    margin: 0.5rem;
    height: 3rem;
    width: 3rem;
    border: 2px solid #87889D;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
}
/*#endregion AUDIO TIMELINE*/

/*#region GRAMMA BOX*/
.--grammarbox-bg {
    background: url(../assets/img/components/texture_01.png) #536FC3;
    padding: 1em;
    border-radius: 7px;
    margin: 1rem 0;
}
.--grammarbox-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.--grammarbox-icon{
    width: 5rem;
    height: 5rem;
}
.--grammarbox-whitebox{
    background-color: rgb(255, 255, 255);
    padding: 0.8em 1em;
    display: flex;
    flex-direction: column;
}
.--grammarbox-whitebox hr{
    border-color: #536FC3;
    background-color: #536FC3;
    color: #536FC3;
}
/*#endregion GRAMMA BOX*/

/*#region IMAGE WITH FRAME*/
.--imageFrame-image{
    width: 100%;
    display: block;
}
.--imageFrame-frameBg{
    width: 100%;
    position: relative;
}
.--imageFrame-frameContainer{
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
}
.--imageFrame-frameTop{
    width: 60%;
    background-color: rgb(113, 70, 178);
    height: 5px;
}
.--imageFrame-frameButtonContainer{
    height: 90%;
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: center;
}
.--imageFrame-frameButton{
    width: 2.5rem;
    height: 2.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/img/components/button_fullscreen_0.png);
    cursor: pointer;
}
.--imageFrame-frameBottom{
    width: 60%;
    align-self: flex-end;
    background-color: rgb(237, 168, 159);
    height: 5px;
}
.--imageFrame-popupMask{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.--imageFrame-popupMask *{
    /* max-width: 80%; */
}
.--imageFrame-popupBg{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
}
.--imageFrame-popupImage{
    max-height: 20%;
}
.--imageFrame-popupClose{
    position: absolute;
    align-self: flex-end;
    transform: translate( 0, -150%);
}
.--imageFrame-popupClose:hover{
    cursor: pointer;
    filter: brightness(2);
}
/*#endregion IMAGE WITH FRAME*/

/*#region VIDEO*/
.--inner-videoBg{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.--videoBg-frameTop{
    width: 60%;
    background-color: #87889D;
    height: 5px;
}
.--videoBg-frameBottom{
    width: 60%;
    align-self: flex-end;
    background-color: #87889D;
    height: 5px;
}
.--videoBg-videoContainer{
    position: relative;
    height: 100%;
}
.--videoContainer-video{
    width: 100%;
    display: block;
}
.--videoContainer-hud{
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
}
.--videoContainer-playblock{
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.--playblock-square{
    width: 20%;
    height: 35%;
    background-color: rgba(255,255,255,0.5);
    border: 0.2rem solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.--playblock-image{
    margin-left: 5%;
    width: 30%;
}

/*#region subtitles*/
.--videoContainer-subtitlesContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}
.--videoContainer-subtitlesContainer p{
    width: 90%;
    text-align: center;
}
/*#endregion subtitles*/

/*#region progressbar*/
.--videoContainer-progressBarContainer{
    height: 1%;
    transition: 0.2s;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.--videoContainer-progressBarContainer:hover{
    height: 2%;
    transition: 0.2s;
}
.--videoContainer-progressBar{
    width: 100%;
    display: block;
    height: 100%;
    border-radius: 0;
}
.--videoContainer-progressBar::-moz-progress-bar{
    background-color: #66a8cc;
    background-image: url(../assets/img/components/progressBar-stripes_0.png);
    background-repeat: repeat-x;
    background-size: contain;
}
.--videoContainer-progressBar::-webkit-progress-value{
    background-color: #66a8cc;
    background-image: url(../assets/img/componentss/progressBar-stripes_0.png);
    background-repeat: repeat-x;
    background-size: contain;
}

.--videoContainer-progressBarSlider{
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
    left: -0.5%;
}
/*#endregion progressbar*/

/*#region controls*/

/*#region containers*/
.--videoContainer-controlsContainer{
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba( 7, 20, 30, 0.7);
}
.--videoContainer-controlsContainer p{
    margin: 0;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}
.--controlsContainer-left,
.--controlsContainer-right{
    display: flex;
    justify-content: space-between;
    height: 40%;
}
.--controlsContainer-left *,
.--controlsContainer-right *{
    height: 100%;
}
.--controlsContainer-left{
    width: 12%;
    margin-left: 3%;
}
.--controlsContainer-right{
    width: 15%;
    margin-right: 3%;
    align-items: center;
}
/*#endregion containers*/
/*#region playbutton*/
.--controlsContainer-play{
    width: 12%;
    transition: 0.3s;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../assets/img/components/button_play_2.png);
    cursor: pointer;
}
.--controlsContainer-play-active{
    transition: 0.3s;
    background-image: url(../assets/img/components/button_stop_2.png);
}
/*#endregion playbutton*/
/*#region volume button*/
.--controlsContainer-volumeContainer{
    width: 15%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.--controlsContainer-volumeIcon{
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../assets/img/components/audio_level_0.png);
}
.--controlsContainer-level{
    width: 50%;
    transition: 0.3s;
    background-repeat: no-repeat;
    background-size: contain;
}
.--controlsContainer-level-muted{
    transition: 0.3s;
    background-image: none !important;
}
.--controlsContainer-level_1{
    transition: 0.3s;
    background-image: url(../assets/img/components/audio_level_1.png);
}
.--controlsContainer-level_2{
    transition: 0.3s;
    background-image: url(../assets/img/components/audio_level_2.png);
}
.--controlsContainer-level_3{
    transition: 0.3s;
    background-image: url(../assets/img/components/audio_level_3.png);
}
/*#endregion volume button*/
/*#region volume bar*/
.--controlsContainer-volumeBarContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.--controlsContainer-volumebar{
    height: 50%;
    width: 100%;
    display: block;
    border-radius: 0;
    cursor: pointer;
}
.--controlsContainer-volumebar::-moz-progress-bar
{
    background-color: #66a8cc;
    background-image: url(../assets/img/components/progressBar-stripes_0.png);
    background-repeat: repeat-x;
    background-size: contain;
}
.--controlsContainer-volumebar::-webkit-progress-value
{
    background-color: #66a8cc;
    background-image: url(../assets/img/components/progressBar-stripes_0.png);
    background-repeat: repeat-x;
    background-size: contain;
}
.--controlsContainer-volumeSlider{
    position: absolute;
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg);
    height: 0.5rem;
    width: 0.5rem;
    left: 90%;
}
/*#endregion volume bar*/
/*#region full screen*/
.--controlsContainer-fullscreen{
    width: 13%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../assets/img/components/button_fullscreen_1.png);
}
.--controlsContainer-fullscreen-close{
    background-image: url(../assets/img/components/button_fullscreen_2.png) !important;
}
.--videoContainer-videoMask
{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.--videoContainer-videoMask .--videoBg-videoContainer{
    width: 100%;
}
/*#endregion full screen*/

/*#endregion controls*/


/*#endregion VIDEO*/

/*#region ROW ORDERER*/
.--inner-rowOrderer{
    width: 100%;
    display: flex;
}
.--inner-rowOrderer-horizontal{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
}
.--inner-rowOrderer-vertical{
    flex-direction: column;
}
.--inner-rowOrderer-horizontal .--rowOrderer-bg{
    min-width: 3rem;
    height: auto;
}
.--rowOrderer-bg{
    height: 3rem;
    /* border: 1px solid #87889D; */
    /* margin-bottom: 0.2rem; */
}
.--inner-rowOrderer-horizontal .--rowOrderer-drag{
    height: auto;
}
.--rowOrderer-drag{
    height: 3rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #87889D;
    cursor: pointer;
}
.--rowOrderer-drag *{
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.--rowOrderer-arrow{
    right: 1rem;
    height: 1rem;
    width: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.--inner-rowOrderer-horizontal .--rowOrderer-drag *{
    margin: 0 0.5rem;
}
.--inner-rowOrderer-horizontal .--rowOrderer-arrow{
    background-image: url(../assets/img/games/row_arrows_horizontal.png);
}
.--inner-rowOrderer-vertical .--rowOrderer-arrow{
    position: absolute;
    background-image: url(../assets/img/games/row_arrows_vertical.png);
}
/*#endregion ROW ORDERER*/

/* #region DRAW LINE */
.--drawline-drawlineContainer{
    width: 100%;
    display: flex;
}
.--drawline-vertical{
    display: flex;
    flex-direction: column;
}
.--drawline-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.--drawline-horizontal .--drawline-startpointBorder,
.--drawline-horizontal .--drawline-endpointBorder{
    margin: 2rem 0 !important;
}

.--drawline-startpointBorder,
.--drawline-endpointBorder{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(135, 136, 157);
    border-radius: 100%;
}
.--drawline-startpoint,
.--drawline-endpoint{
    width: 50%;
    height: 50%;
    border: 3px solid rgb(135, 136, 157);
    border-radius: 100%;
    /* background-color: rgb(135, 136, 157); */
    position: relative;
}
.--drawline-startpoint{
    cursor: pointer;
}
.--drawline-line{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 3px;
    background-color: rgb(135, 136, 157);
    transform-origin: center left;
    z-index: 2;
}
#--drawline-ghost{
    margin: 0;
    width: 3rem;
    height: 3rem;
    opacity: 0;
    position: absolute;
    float: left;
    transform:translate(-50%,-50%);
    z-index: 10;
}
/* #endregion DRAW LINE */

/*#region SENTENCE INPUT */
.--sentenceInput-input{
    width: 5rem;
    border: 1px solid rgb(135, 136, 157);
    text-align: center;
}
/*#endregion SENTENCE INPUT */

/* #region SIDE BY SIDE */
.--inner-verticalline{
    width: 1px;
    height: 100%;
    background-color: #87889D;
}
.--inner-sidebyside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.--inner-sidebyside .--sidebyside-container-2{
    width: 45%;
}
.--inner-sidebyside .--sidebyside-container-3{
    width: 30%;
}
.--inner-sidebyside .--sidebyside-container-4{
    width: 15%;
}
/* #endregion VERTICAL LINE */

/* #region PRACTICE - MP2 */
.practice {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: auto;

    font-family: Arial,Helvetica,sans-serif;
    color: #595b68;
}

#practice-mc2-container {
    margin: 0;
    padding: 0;
    list-style: none;
}

#practice-mc2-container li {
    padding: 2vw 0;
    border-top: 1px solid #87889D;
}

#practice-mc2-container li.practice-mc2-li-labels {
    position: relative;
    padding: 2.5vw 0;
    border-top: none;
    font-size: 1.5vw;
    text-align: center;
}

#practice-mc2-container li.practice-mc2-li-labels .label0 {
    position: absolute;
    width: 8vw;
    right: 5.8vw;
    top:50%;
    transform:translate(-50%,-50%);
}

#practice-mc2-container li.practice-mc2-li-labels .label1 {
    position: absolute;
    width: 8vw;
    right: -2.5vw;
    top:50%;
    transform:translate(-50%,-50%);
}

#practice-mc2-container li span.text-limiter {
    display: block;
    width: 75%;
    font-size: 1.5vw;
}

#practice-mc2-container li .button {
    position: absolute;
    width: 3.5vw;
    height: 3.5vw;
    border: 1px solid #87889D;
    border-radius: 0.5vw;

    transform: translate(-50%, -70%);
}

#practice-mc2-container li .button.correct {
    border: 1px solid #5EC7CB;
}

#practice-mc2-container li .button.incorrect {
    border: 1px solid #E6388F;
}

/* Button - small square */
#practice-mc2-container li .button::after {
    position: absolute;
    content: "";
    width: 1.8vw;
    height: 1.8vw;
    border: 1px solid #87889D;
    border-radius: 0.2vw;
    background-color: #fff;

    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

/* Button - small square + active class */
#practice-mc2-container li .button.active::after {
    position: absolute;
    content: "";
    width: 1.8vw;
    height: 1.8vw;
    border: 1px solid #87889D;
    border-radius: 0.2vw;
    background-color: #87889D;

    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

/* Button - small square + correct class */
#practice-mc2-container li .button.correct::after {
    position: absolute;
    content: "";
    width: 1.8vw;
    height: 1.8vw;
    border: 1px solid #5EC7CB;
    border-radius: 0.2vw;
    background-color: #5EC7CB;

    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

/* Button - small square + incorrect class */
#practice-mc2-container li .button.incorrect::after {
    position: absolute;
    content: "";
    width: 1.8vw;
    height: 1.8vw;
    border: 1px solid #E6388F;
    border-radius: 0.2vw;
    background-color: #E6388F;

    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

#practice-mc2-container li .button0 {
    right: 12vw;
}

#practice-mc2-container li .button1 {
    right: 4vw;
}

/* #endregion PRACTICE - MP2 */

/* #region Footer buttons */
#practice-footer-buttons {
    bottom: 94px;
    float: right;
    position: fixed;
    right: 0px;
    width: auto;
    z-index: 11;
    border-top: 4px solid rgb(135, 136, 157);
    padding: 10px 62px 0px;
}

#practice-footer-buttons > div {
    width: 44px;
    height: 44px;
    margin-left: 0.4em;
}

#practice-footer-buttons .mark-all {
    cursor: pointer;
    display: inline-block;
    background: url('../assets/img/components/button_check.png') 0px 0px / auto 44px no-repeat scroll rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(94, 199, 203);
    border-image: initial;
    border-radius: 10px;
}

#practice-footer-buttons .mark-all.active {
    background: url('../assets/img/components/button_check.png') -88px 0px / auto 44px no-repeat scroll rgb(94, 199, 203);
}

#practice-footer-buttons .show-answers {
    cursor: pointer;
    display: inline-block;
    background: url('../assets/img/components/button_show_answer.png') 0px 0px / auto 44px no-repeat scroll rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(135, 136, 157);
    border-image: initial;
    border-radius: 10px;
}

#practice-footer-buttons .show-answers.active {
    background: url('../assets/img/components/button_show_answer.png') -88px 0px / auto 44px no-repeat scroll rgb(135, 136, 157);
}

#practice-footer-buttons .reset {
    cursor: pointer;
    display: inline-block;
    background: url('../assets/img/components/button_reset.png') 0px 0px / auto 44px no-repeat scroll rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(230, 56, 143);
    border-image: initial;
    border-radius: 10px;
}

#practice-footer-buttons .reset.active {
    background: url('../assets/img/components/button_reset.png') -88px 0px / auto 44px no-repeat scroll rgb(230, 56, 143);
}
/* #endregion Footer buttons */

/* #region SELECT LIST */
.--selectListContainer{
    position: relative;
    width: 12rem;
    height: 3rem;

}

.--selectListContainer-input{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(89, 91, 104);
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.--selectListContainer-text{
    margin-left: 1rem;
    align-self: center;
}

.--selectListContainer-button{
    background-color: rgb(135, 136, 157);
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.--selectListContainer-button::after{
    content: "";
    border-style: solid;
    border-width: 14px 8px 0px;
    border-color: rgba(255, 255, 255, 0.7) transparent transparent;
}

.--selectListContainer-list{
    background-color: white;
    width: 17rem;
    position: absolute;
    top: 0;
    border: 3px solid gray;
    border-radius: 6px;
    z-index: 89;
}
.--selectListContainer-list p, 
.--selectListContainer-list .--selectListContainer-listItem-button{
    margin: 0 1rem;
}

.--selectListContainer-listItem{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
}

.--selectListContainer-listItem:hover{
    background-color: lightgray;
    cursor: pointer;
}
/* endregion SELECT LIST */

/* #region SENTENCE CHOICE */
.--sentenceChoice-sentenceChoiceContainer{
    display: flex;
    gap: 7px;
    align-items: center;
}
.--sentenceChoice-sentenceChoiceContainer p{
    margin: 1rem 0;
}
.--sentenceChoice-sentenceChoiceButton{
    border: 1px solid gray;
    height: 2rem;
    width: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 0 0.5rem;
}
.--sentenceChoice-sentenceChoiceButton *{
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.buttonBackgroundSelected{
    background-color: rgb(135, 136, 157);
    color: white;
}
/* END SENTENCE CHOICE */

/* # region SENTENCE SELECT */
.--sentenceSelect-sentenceSelect{
    margin: 0.5rem auto;
    display: flex;
    gap: 1rem;
    align-items: center;
}
/* END SENTENCE SELECT */



.--pratice-correct{
    background-color: rgb(94, 499, 203) !important;
    color: white !important;
}
.--pratice-incorrect{
    background-color: rgb(230, 56, 143) !important;
    color: white !important;
}
.--pratice-selected{
    background-color: rgb(135, 136, 157);
    color: white;
}
.--pratice-blocked{
    background-color: lightgray !important;
}
.--pratice-text-blocked{
    color: rgb(162, 164, 192) !important;
}
    