#--cloud-top-0{
    /* width: 20%; */
}

.--inner-dragDrop-sentenceContainer{
    border: 1px solid;
    width: 20rem;
    height: 15rem;
    background: #a7b4da21;
}

.--sentenceDropped-container{
    border: 1px solid;
    width: 5.1rem;
    height: 2.5rem;
}

.--sentenceDragged{
    border: 1px solid transparent;
    width: 5rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E9E9ED;
    box-shadow: 1px 1px 0px 0 rgb(0 0 0 / 20%);
    color: #595b68;
}

.--inner-sentenceDragDrop{
    gap: 0.5rem;
    align-items: center;
    display: flex;
}