body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
#container{
    width: 1280px;
    height: 720px;
    max-height: 100%;
    border: solid 2px gray;
    display: flex;
    justify-content: center;
}

/* START */
#--container-outer{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}
#--container-inner{
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#--inner-title{
    align-self: flex-end;
}
#--inner-text-1{
    height: 200px;
}
#--inner-content{
    width: 80%;
}

/* CLOUD */
.--cloud-top{
    display: flex;
    border-radius: 1rem;
    align-items: center;
    border: 2px solid #87889D;
}
.--cloud-buttonContainer{
    width: 4.2rem;
    height: 100%;
    border-radius: 0.8rem 0 0 0.8rem;
    background-color: rgb(231, 231, 237);
    display: flex;
    flex-direction: column;
}
.--cloud-button{
    background-image: url(../images/button_play_0.png);
}
.--cloud-button-active{
    background-image: url(../images/button_stop_0.png) !important;
}

.--cloud-bottomImg{
    background-size: contain;
    background-repeat: no-repeat;
    width: 2rem;
    height: 1.3rem;
    background-image: url(../images/tick_rubric.png);
    transform: translate(55%, -10%);
}
.--inner-cloud p
{
    margin: 1rem;
}

/* TIMELINE */
.--inner-timeline{
    display: flex;
    align-items: center;
}
.--timeline-button{
    background-image: url(../images/button_play_1.png);
    background-position-x: 65% !important;
}
.--timeline-button-active{
    background-image: url(../images/button_stop_1.png) !important;
    background-position-x: center !important;
}
.--timeline-slider-bg{
    width: 100%;
    height: 0.2rem;
    background-color:  #87889D;
}
.--timeline-progressbarcontainer{
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    
}
.--timeline-progressbar{
    width: 100%;
    height: 0.2rem;
    background-color:  #87889D;
    cursor: pointer;
    border: rgb(230, 56, 143);
}
.--timeline-progressbarcontainer p{
    float: right;
    margin: 0;
    font-size: 0.9rem;
    align-self: flex-end;
    transform: translate(0, -0.2rem);
}
.--timeline-slider-bg-slider
{
    height: 0.8rem;
    width: 0.8rem;
    background-color: #87889D;
    transform: translate(0, -65%);
    border-radius: 100%;
    margin-left: 0%;
}
.--timeline-progressbar::-moz-progress-bar
{
    background-color: rgb(230, 56, 143);
}
.--timeline-progressbar::-webkit-progress-value
{
    background-color: rgb(230, 56, 143);
}
/* AUDIO BTNS */
.--audio-button-active{
    border-color: rgb(230, 56, 143) !important;
}
.--audio-btn-overlay{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 20%;
}
.--audio-btn{
    margin: 0.5rem;
    height: 3rem;
    width: 3rem;
    border: 2px solid #87889D;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
}

/* GRAMMA BOX */
.--grammarbox-bg {
    background: url(../images/texture_01.png) #536FC3;
    padding: 1em;
    border-radius: 7px;
    margin: 1rem 0;
}
.--grammarbox-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.--grammarbox-icon{
    width: 5rem;
    height: 5rem;
}
.--grammarbox-whitebox{
    background-color: rgb(255, 255, 255);
    padding: 0.8em 1em;
    display: flex;
    flex-direction: column;
}
.--grammarbox-whitebox hr{
    border-color: #536FC3;
    background-color: #536FC3;
    color: #536FC3;
}

/* IMAGE WITH FRAME */
.--imageFrame-frameBg{
    width: 100%;
    background-image: url(./images/image_00.png);
    height: 31rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.--imageFrame-frameTop{
    width: 60%;
    background-color: rgb(113, 70, 178);
    height: 5px;
}
.--imageFrame-frameButtonContainer{
    height: 90%;
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: center;
}
.--imageFrame-frameButton{
    width: 2.5rem;
    height: 2.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/button_fullscreen.png);
    cursor: pointer;
}
.--imageFrame-frameBottom{
    width: 60%;
    align-self: flex-end;
    background-color: rgb(237, 168, 159);
    height: 5px;
}
.--imageFrame-popupMask{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.--imageFrame-popupBg{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.--imageFrame-popupClose{
    width: 1rem;
    height: 1rem;
    align-self: flex-end;
    margin: 1rem 0;
}
.--imageFrame-popupClose:hover{
    cursor: pointer;
    filter: brightness(2);
}


/* IMAGE WITH FRAME */
.--rowOrderer-bg{
    height: 3rem;
    border: 1px solid #87889D;
    margin-bottom: 0.2rem;

}
.--rowOrderer-drag{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/row_arrows.png);
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: center;
    background-color: #87889D;
    cursor: pointer;
}
.--rowOrderer-drag p{
    pointer-events: none;
}